@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 75px;

    --background: 0 0% 98%;
    --foreground: 200, 15%, 8%;

    --border: 214.3 31.8% 91.4%;
    --input: 0, 0%, 52%;
    --ring: 222.2 84% 4.9%;

    --primary: 0, 0%, 100%;
    --primary-foreground: 200, 15%, 8%;

    --card: 0 0% 100%;
    --card-foreground: 200, 15%, 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 200, 15%, 8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 207, 26%, 17%;
    --foreground: 0, 0%, 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --primary: 209, 23%, 22%;
    --primary-foreground: 0, 0%, 100%;

    --card: 209, 23%, 22%;
    --card-foreground: 0, 0%, 100%;

    --popover: 209, 23%, 22%;
    --popover-foreground: 0, 0%, 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm font-light;
    font-family: 'Nunito Sans', sans-serif;
  }
}
